<nav class="navbar">
    <div class="container">
        <div class="left--section"><a style="color: white; text-decoration: none;" routerLink="/" >Booking.com</a></div>
        <div class="right--section">
            <button class="currency"><a style="color: white; text-decoration: none;" routerLink="/bookingDetails" >Booking Details</a></button>
            <button class="currency">GEL</button>
            <button class="flag"><img src="images/Gb@3x.png" alt="flag image"></button>
            <button class="list--your--property">List your property</button>
            <button class="register">register</button>
            <button class="sign--in">Sign in</button>
            <p class="currency--selector">select your currency</p>
            <p class="language--selector">select your language</p>
        </div>
        <div class="right--section--toggle">
            <button class="user--icon--button"><i class="fa-regular fa-user user--icon"></i></button>
            <button class="bars--button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"><i class="fa-solid fa-bars bars"></i></button>
            <p class="sign--in--selector">sign in</p>
            <div class="offcanvas offcanvas-bottom" style="height: 100vh;" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel">More</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body small ">
                <div class="offcanvas--selector offcanvas--selector"><p>GEL &nbsp; &nbsp; &nbsp; Georgian lari</p></div>
                <div class="offcanvas--selector offcanvas--selector"><p><img class="offcanvas--language--logo" src="images/Gb@3x.png" alt="flag image"> &nbsp; &nbsp; &nbsp; English</p></div>
                <div class="offcanvas--selector offcanvas--selector"><p><i class="fa-solid fa-g fa-xl"></i> &nbsp; &nbsp; &nbsp; Genius loyalty program</p></div>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-house fa-xl"></i> &nbsp; &nbsp; &nbsp; List your property </div>
                <h5 class="offcanvas--title">Help and support</h5>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-question fa-xl"></i> &nbsp; &nbsp; &nbsp; Contact Customer Service </div>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-regular fa-handshake fa-xl"></i>&nbsp; &nbsp; &nbsp; Partner dispute</div>
                <h5 class="offcanvas--title">inspiration</h5>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-percent fa-xl"></i>  &nbsp; &nbsp; &nbsp; Seasonal and holiday deals</div>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-book fa-xl"></i>  &nbsp; &nbsp; &nbsp; Travel articles</div>
                <h5 class="offcanvas--title">Settings and legal</h5>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-i fa-xl"></i>  &nbsp; &nbsp; &nbsp; About Booking.com</div>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-user fa-xl"></i> &nbsp; &nbsp; &nbsp; Careers</div>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-check fa-xl"></i>  &nbsp; &nbsp; &nbsp; Become an affiliate</div>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-newspaper fa-xl"></i>  &nbsp; &nbsp; &nbsp; Press center</div>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-cookie-bite fa-xl"></i> &nbsp; &nbsp; &nbsp;Privacy & cookies</div>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-newspaper fa-xl"></i>   &nbsp; &nbsp; &nbsp; Terms & conditions</div>
                <div class="offcanvas--selector offcanvas--selector"><i class="fa-solid fa-gavel fa-xl"></i>  &nbsp; &nbsp; &nbsp; Legal</div>
            </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="middle--section">
            <ul>
                <li class="active"><i class="fa-solid fa-bed"></i> stays</li>
                <li class="passive"><i class="fa-solid fa-plane"></i>Flights</li>
                <li class="passive"><i class="fa-solid fa-car"></i> car rentals</li>
                <li class="passive disable"><i class="fa-solid fa-child"></i> attractions</li>
                <li class="passive disable"><i class="fa-solid fa-taxi"></i> airport taxis</li>
                <div class="dropdown">
                    <button class="btn-secondary dropdown-toggle dropdown--button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    More
                    </button>
                    <ul class="dropdown-menu  dropdown-menu-header ">
                        <li class="dropdown-passive"><i class="fa-solid fa-child"></i> attractions</li>
                        <li class="dropdown-passive"><i class="fa-solid fa-taxi"></i> airport taxis</li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>