<footer class="footer">
    <div class="footer--first--section">
        <button>List your property</button>
        <div class="links">
            <a href="">Mobile version</a>
            <a href="">Your account</a>
            <a href="">Make changes to your booking online</a>
            <a href="">Customer service help</a>
            <a href="">Become an affiliate</a>
            <a href="">Booking.com for business</a>
        </div>
    </div>
    <div class="container footer--second--section ">
        <div class="row">
            <div class="col footer--second--section--col">
                <p><a href="">Countries</a> </p>
                <p><a href="">regions</a> </p>
                <p><a href="">cities</a> </p>
                <p><a href="">districts</a> </p>
                <p><a href="">airports</a> </p>
            </div>
            <div class="col footer--second--section--col">
                <p><a href="">homes</a></p>
                <p><a href="">apartments</a></p>
                <p><a href="">resorts</a></p>
                <p><a href="">villas</a></p>
                <p><a href="">hostels</a></p>
            </div>
            <div class="col footer--second--section--col">
                <p><a href="">unique places to stay</a> </p>
                <p><a href="">reviews</a> </p>
                <p><a href="">discover monthly stays</a> </p>
                <p><a href="">seasonal and holiday deals</a> </p>
                <p><a href="">traveller review awards</a> </p>
            </div>
            <div class="col footer--second--section--col">
                <p><a href="">about booking.com</a> </p>
                <p><a href="">customer service help</a> </p>
                <p><a href="">partner help</a> </p>
                <p><a href="">careers</a> </p>
                <p><a href="">sustainability</a> </p>
            </div>
        </div>
    </div>
    <p class="copyright">copyright 1996-2024 booking.com. all rights reserved</p>
</footer>