.map{
    border: solid 0.5px #bebcbc;
    margin-top: 15px;
    border-radius: 15px;
    overflow: hidden;
    height: 200px;
    width: 100%;
}
@media(max-width:768px){
    .map{
        display: none;
    }

}