<div class="page--count">
    <div class="page--count--left--side">
        <i class="fa-solid fa-arrow-left page--count--arrow--left"></i>
        <div class="page--count--number"><a href="">1</a></div>
        <div class="page--count--number"><a href="">2</a></div>
        <div class="page--count--number"><a href="">3</a></div>
        <div class="page--count--number"><a href="">4</a></div>
        <div class="page--count--number"><p>...</p></div>
        <div class="page--count--number"><a href="">39</a></div>
        <div class="page--count--number"><a href="">40</a></div>
        <i class="fa-solid fa-arrow-right page--count--arrow--right"></i>
    </div>
    <div class="page--count--right--side">showing 1 - 25</div>
</div>