.page--count{
    display: flex;
    justify-content: space-between;
    border: solid 1px rgb(194, 194, 194);
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
}
.page--count--left--side{
    display: flex;
}
.page--count--right--side{
    padding-top: 5px;
    padding-right: 10px;
}
.page--count--arrow--left{
    cursor: no-drop;
    color: #7a7c7c;
    padding: 5px 5px;
    margin-top: 8px
}
.page--count--arrow--right{
    cursor: pointer;
    color: #006ce4;
    background-color: transparent;
    border-radius: 5px;
    max-height: 25px;
    padding: 5px 5px;
    margin-top: 8px
}
.page--count--arrow--right:hover, .page--count--number:hover{
    background-color: #d3d3d3;
    transition: 0.3s;
}
.page--count--number{
    height: 40px;
    padding: 8px 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 7px;
}
.page--count--number>a{
    text-decoration: none;
    height: 100%;
    width: 100%;
}