<div class="container location--list">
    <ul>
        <li class="location--list--active">Home</li>
        <i class="fa-solid fa-arrow-right"></i>
        <li class="location--list--active">Georgia</li>
        <i class="fa-solid fa-arrow-right"></i>
        <li class="location--list--active">Ajara</li>
        <i class="fa-solid fa-arrow-right"></i>
        <li class="location--list--active">Batumi</li>
        <i class="fa-solid fa-arrow-right"></i> 
        <li class="location--list--passive">Search results</li>
    </ul>
</div>
