<div class="dropdown right--side--dropdown">
    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    sort by: Our Top Picks
    </button>
    <ul class="dropdown-menu right--side--dropdown--menu">
    <li><a class="dropdown-item" href="#">Our top picks</a></li>
    <li><a class="dropdown-item" href="#">Homes & apartments first</a></li>
    <li><a class="dropdown-item" href="#">Property rating (high to low)</a></li>
    <li><a class="dropdown-item" href="#">Property rating (low to high)</a></li>
    <li><a class="dropdown-item" href="#">Distance from downtown</a></li>
    <li><a class="dropdown-item" href="#">Top reviewed</a></li>
    <li><a class="dropdown-item" href="#">Distance from closest beach</a></li>
    </ul>
</div>